name: Continuous Deployment

on:
  push:
    branches: [main]

concurrency:
  group: deployment
  cancel-in-progress: false

env:
  ZINE_OUTPUT_DIR: public

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Zine
        uses: kristoff-it/setup-zine@v1
        with:
          version: v0.11.1

      - name: Build
        run: zine release

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.ZINE_OUTPUT_DIR }} --project-name=${{ github.event.repository.name }} --branch=${{ github.ref_name }}
